.toggle-button{
    height: 24px;
    width: 30px;
    display: flex;
    flex-direction: column;
    background: transparent;
    border: none;
    cursor: pointer;
    justify-content: space-between;
    box-sizing: border-box;
}

.toggle-button:focus{
    outline: none;
}

.toggle-button div{
    transition: all 0.3s ease;
}

.line1{
    width: 30px;
    height: 3px;
    background: rgb(226, 226, 226);
}

.line2{
    width: 30px;
    height: 3px;
    background: rgb(226, 226, 226);
}

.line3{
    width: 30px;
    height: 3px;
    background: rgb(226, 226, 226);
}

.toggle1{
    transform: rotate(-45deg) translate(-9px,9px);
}

.toggle2{
    opacity: 0;
}

.toggle3{
    transform: rotate(45deg) translate(-6px,-6px);
}