.side-drawer{
    background:rgb(61, 60, 60);
    /* box-shadow: 2px 0px 5px black; */
    position: fixed;
    height: 100%;
    width: 70%;
    max-width: 400px;
    top: 8vh;
    right: 0px;
    align-items: center;
    z-index: 200;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
}

.side-drawer.open{
    transform: translateX(0);
}

.side-drawer ul{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    height: 70%;
    width: 30%;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-evenly;
    list-style: none;
}

.side-drawer a{
    color:rgb(226, 226, 226);
    text-decoration: none;
}

.side-drawer a:hover,
.side-drawer a:focus{
    color: #fa923f;
}

@media (min-width: 769px){
    .side-drawer{
        display: none;
    }
}