.headerForNav{
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(15, 15, 15);
}

.logoForHeading h4{
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 0;
    padding: 0;
    font-size: 20px; 
}

.classForNav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    min-height: 8vh;
    border: 1px solid;
    box-shadow: 0px 3px rgb(160, 145, 145);
    font-family: 'Poppins', sans-serif;
}

.navClassForLinks{
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin: 0;
    padding: 0;
    align-items: flex-start;
}

.navClassForLinks li{
    list-style: none;
    position: relative;
}

.navClassForLinks a::before{
    content: '';
    display: block;
    height: 2px;
    width: 0%;
    background-color: rgb(226, 226, 226) ;
    position: absolute;
    left: -5px;
    top: 37px;
    transition: all ease-in-out 250ms;
}

.navClassForLinks a:hover::before{
    width: 120%;
}

.navClassForLinks a{
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}

.navClassForLinks a:hover,
.navClassForLinks a:active{
    color: #fa923f;
}

@media (max-width: 768px){
    .navClassForLinks{
        display: none;
    }
}

@media (min-width: 769px){
    .display-toggle-button{
        display: none;
    }
}
