.content-offset{
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 3%;
  margin-right: 3%;
  display: block;
}

.pie-chart{
  height: 40vh;
}
.bar-chart{
  height: 45vh;
}

.line-chart{
  height: 35vh;
}
