#vir1{
    margin-left: 4%;
}

#vir2{
    position: absolute;
    left: 27%;
    top: 10%;
}

#vir3{
    position: absolute;
    left: 38%;
    top: 53%;
}

#vir4{
    position: absolute;
    left: 62%;
    top: 7%;
}

#vir5{
    transform: scale(0.5);
    position: absolute;
    left: 43%;
    top: -20%;
}

#vir6{
    position: absolute;
    top: 25%;
    left: 77%;
    transform: scale(0.75);
}

#vir7{
    transform: scale(0.5);
    position: absolute;
    left: 55%;
    top: 65%;
}


.fadeOut{
    transition: opacity 2s;
    opacity: 0;
}

.fadeIn{
    transition: opacity 2s;
    opacity: 1 !important;
}

.slideLeft{
    transition: transform 5s;
    transform: translateX(-200%);
}

.slideLeftSpl{
    transition: transform 5s;
    transform: scale(0.5) translateX(-400%) translateY(110%) !important; 
}

