@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.footerMainDiv{
    background-color: #3e4551;
    color: rgb(226, 226, 226);
    bottom: 0;
    width: 100%;
    z-index: -1;
}

.footerLinks{
    list-style: none;
    padding-left: 0px;
}

.footerSubDiv{
    padding-top: 12px;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.footerLinks a{
    padding-top: 20px;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgb(226, 226, 226);
}

.footerLinks a:hover,
.footerLinks a:active{
    color: #fa923f;
}

.footerLinks li{
    padding-top: 12px;
}

.footerLast{
    background-color: rgba(0,0,0,0.2);
    height: 60px;
    padding-top: 1.3rem;
    text-align: center!important;
}

.socialMediaUL{
    text-align: center !important;
    list-style: none;
}

.socialMediaAlign {
    display: inline;
    margin-left: 20px;
  }
  
 .socialMediaIcon{
    margin-bottom: 5px;
    box-sizing: border-box;
    border-radius: 138px;
    border: 5px solid;
    text-align: center;
    width: 40px;
    height: 40px;
    display: inline-block;
    line-height: 1px;
    padding-top: 9px;
    transition: all 0.7s;
}

.socialMediaIcon:hover {
    transform: rotate(360deg)scale(1.3);
}

.facebook {
      font-size: 20px;
      padding-top: 5px;
      border-color: #3b5998;
      background-color: #3b5998;
      color: #ffffff;
}
.facebook:hover {
    background-color: #ffffff;
    color: #3b5998;
}

.google-plus {
    font-size: 18px;
    padding-top: 6px;
    padding-left: 2px;
    background-color: #dd4b39;
    color: #ffffff;
    border-color: #dd4b39;
}
.google-plus:hover {
    background-color: #ffffff;
    color: #dd4b39;
}

.linkedin {
    font-size: 18px;
    padding-top: 6px;
    padding-left: 1px;
    background-color: #0976b4;
    color: #ffffff;
    border-color: #0976b4;  
}
.linkedin:hover {
    background-color: #ffffff;
    color: #0976b4;
}

.twitter {
    font-size: 20px;
    padding-top: 5px;
    padding-left: 2px;
    border-color: #55acee;
    background-color: #55acee;
    color: #ffffff;
}
    .twitter:hover {
    background-color: #ffffff;
    color: #55acee;
}

.email {
    font-size: 18px;
    padding-top: 6px;
    background-color:  #0b5ca7;
    color: #ffffff;
    border-color:  #0b5ca7;
}
.email:hover {
    background-color: #ffffff;
    color:  #0b5ca7;
}

.youtube {
    font-size: 20px;
    padding-top: 5px;
    padding-left: 0px;
    background-color: #df2d2d;
    color: #ffffff;
    border-color: #df2d2d; 
}
    .youtube:hover {
    background-color: #ffffff;
    color: #df2d2d;
}