.flip-card {
    border-radius: 50px;
    width: 100%;
    margin: .5%;
    height: 250px;
    perspective: 1000px;
    
  }
   
  .flip-card-inner {
    border-radius: 50px;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    background-repeat:no-repeat;
    background-size:100% 100%;
    border: 2px solid #0c0c0c;
    border-radius: 50px;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-back {
    background-color: #0c0c0c;
    color: rgb(209, 198, 198);
    transform: rotateY(180deg);
  }